#board {
    background: black;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
}


.circle {
    background: url('https://lh3.googleusercontent.com/P_4K-6TA596DsxWaNyr8ODUwyll_DIL_F01UYAU4Rw0Z2ogVjdNtklIXdk_p4n9dIa43gAw=s85');
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}